<div class="row">
    <div class="col-1 card">

        <article class="card-group-item">
            <header class="card-header">
                Filters
                <mat-icon id="defaultbtn" (click)="setdefaultfilter()">settings_backup_restore</mat-icon>
            </header>
            <div class="filter-content">
                <div class="card-body">
                    <form>
                        <div class="range">
                            <p>Price Range:</p>
                        </div>
                        <div class="range">
                            <!-- [(ngModel)]="min" -->
                            from: <input class="range_input" type="number" placeholder="value" name="from"
                            >
                            <!-- [(ngModel)]="max" -->
                            to: <input class="range_input" type="number" placeholder="value" name="to"
                                >
                        </div>
                        <br>
                    </form>

                </div>
            </div>
        </article>
        <article class="card-group-item">
            <header class="card-header">
                Search Products
            </header>
            <div class="filter-content">
                <div class="card-body">
                    <form>
                        <div class="search">
                            <!-- [(ngModel)]="searchText"  -->
                            <input class="search_input" type="text" placeholder="find Products ..." name="from"
                                (ngModelChange)="searchGo()">
                        </div>
                    </form>
                </div>
            </div>
        </article>

        <article class="card-group-item">
            <header class="card-header">
                rating
            </header>
            <div class="filter-content">
                <div class="card-body">
                    <div class="rating" (click)="setrating(4)">
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star_border</mat-icon>
                        & Up
                    </div>
                    <div class="rating" (click)="setrating(3)">
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star_border</mat-icon>
                        <mat-icon>star_border</mat-icon>
                        & Up
                    </div>
                    <div class="rating" (click)="setrating(2)">
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star_border</mat-icon>
                        <mat-icon>star_border</mat-icon>
                        <mat-icon>star_border</mat-icon>
                        & Up
                    </div>
                    <div class="rating" (click)="setrating(1)">
                        <mat-icon>star</mat-icon>
                        <mat-icon>star_border</mat-icon>
                        <mat-icon>star_border</mat-icon>
                        <mat-icon>star_border</mat-icon>
                        <mat-icon>star_border</mat-icon>
                        & Up
                    </div>or
                    <span class="viewall" (click)="setrating(1)">view all</span>
                </div>
            </div>
        </article>
        <article class="card-group-item">
            <header class="card-header">
                Category
            </header>
            <div class="filter-content">
                <div class="card-body">
                    <p (click)="selectall()" style="cursor: pointer">Clear selection</p>
                    <!-- <input type="checkbox" [(ngModel)]="filter.electronics" (ngModelChange)="filterCategory()"
                        id="Category" name="Category" placeholder="Electronics">&nbsp; Electronics
                    <br><input type="checkbox" [(ngModel)]="filter.books" (ngModelChange)="filterCategory()"
                        id="Category" name="Category">&nbsp; Books
                    <br><input type="checkbox" [(ngModel)]="filter.computers" (ngModelChange)="filterCategory()"
                        id="Category" name="Category">&nbsp; Computers
                    <br><input type="checkbox" [(ngModel)]="filter.fashion" (ngModelChange)="filterCategory()"
                        id="Category" name="Category">&nbsp; Fashion
                    <br><input type="checkbox" [(ngModel)]="filter.mobiles" (ngModelChange)="filterCategory()"
                        id="Category" name="Category">&nbsp; Mobiles
                    <br><input type="checkbox" [(ngModel)]="filter.beauty" (ngModelChange)="filterCategory()"
                        id="Category" name="Category">&nbsp; Beauty -->
                </div>
            </div>
        </article>
    </div>
    <div class="col products" *ngIf="searchproducts?.length == 0; else searchresult">
        <div class="product" *ngFor="let item of filteredProducts">
            <mat-card *ngIf="item.ratings>=rating && item.price>=min && max>=item.price">
                <img src={{item.image}}>
                <a (click)="onClick(item)">{{item.title}}</a>
                <p>Price: ₹ <strong>{{item.price}}</strong></p>
                <p>rating: <strong>{{item.ratings}}</strong></p>
                <button class="button" id="addtocartbtn" (click)="addToCart(item)"><span>Add to cart</span></button>
                <button class="button" id="wishlistbtn" (click)="addToWishlist(item)"><span>Add to
                        wishlist</span></button>
            </mat-card>
        </div>

    </div>
    <ng-template #searchresult>
        <div class="col products">
            <div class="product" *ngFor="let item of searchproducts">
                <mat-card *ngIf="item.ratings>=rating && item.price>=min && max>=item.price">
                    <img src={{item.image}}>
                    <a (click)="onClick(item)">{{item.title}}</a>
                    <p>Price: ₹ <strong>{{item.price}}</strong></p>
                    <p>rating: <strong>{{item.ratings}}</strong></p>
                    <button class="button" (click)="addToCart(item)"><span>Add to cart</span></button>
                    <button class="button" (click)="addToWishlist(item)"><span>Add to wishlist</span></button>
                </mat-card>
            </div>
        </div>
    </ng-template>
</div>